Android-java/SoundRecorder/.classpath
Android-java/SoundRecorder/.project
Android-java/SoundRecorder/.settings/
Android-java/SoundRecorder/bin/
Android-java/SoundRecorder/gen/
Android-java/SoundRecorder/project.properties
QT5-win-Decryption/DeCry/DeCry.pro.user
QT5-win-Decryption/build-*

